# Configurações do Banco de Dados PostgreSQL (Supabase)
# NOTA: Use a porta 6543 (Pooler) com pgbouncer=true para DATABASE_URL
# e a porta 5432 (Direta) para DIRECT_URL.

DATABASE_URL="postgres://postgres.[SEU_PROJETO]:[SUA_SENHA]@aws-0-[REGIAO].pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgres://postgres.[SEU_PROJETO]:[SUA_SENHA]@aws-0-[REGIAO].pooler.supabase.com:5432/postgres"

# Chave de API da Football-Data.org
FOOTBALL_DATA_API_KEY="sua_chave_aqui"
